* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 400vh; /* Controls scroll length */
  background: black;
  overflow-x: hidden;
}

.scroll-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* LinkedIn Button */

.linkedin-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #0A66C2;
  color: white !important;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 4px 15px rgba(10, 102, 194, 0.4);
}

.linkedin-btn:hover {
  background-color: #084d99;
  transform: translateY(-2px);
}
